<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cron-Job</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<h1>Cron-Job</h1>

<h4>Titel, Adresse</h4>
<form action="{% url 'cron:submit' %}" method="post">{% csrf_token %}
<div class=border>
<input type="text" name="titel" placeholder="Titel"><br>
<input type="text" name="url" value="http://"><br>
</div>
<h4>Erfordert HTTP-Authentifizierung</h4>
<div class=border>
Benutzername <input type="text" name="benutzername" value=""> passwort <input type="text" name="passwort" value=""><br>
</div>
<h4>Ausführung</h4>
<div class=border>
<input type="radio" name="a" value="Wahl1">Alle <input type="number" name="myNumber2" value="15">Minute(n)<br>
<input type="radio" name="a" value="Wahl2">Jeden Tag um <input type="number" name="hours" value="00">:<input type="number" name="minutes" value="00"><br>
<input type="radio" name="a" value="Wahl3">Immer am <input type="number" name="myNumber" value="1"> des Monats um <input type="number" name="hours2" value="00">:<input type="number" name="minutes2" value="00"><br>
<input type="radio" name="a" value="Wahl4">Benutzerdefiniert<br>
</div>
<h4>Benachrichtungen</h4>
<div class=border>
<label>
<p>Mich per E-Mail benachrichtigen bei</p>
</label>
<label>
<input type="checkbox" name="fehlschlagAlert" value="">Fehlschlag des Jobs<br>
</label>
<label>
<input type="checkbox" name="erfolgNachFehlschlagAlert" value="">erfolgreichem Abruf nach vorherigem fehlschlag<br>
</label>
<label>
<input type="checkbox" name="zuVielFehlschlaege" value="">automatischer Deaktivierung wegen zu vieler Fehlschläge<br>
</label>
</div>
<h4>Allgemein</h4>
<div class=border>
<label>
<input type="checkbox" name="antwortenSpeichern" value="">Antworten speichern<br>
</label>
</div>
Mit der Erstellung des Cron-Jobs erklären Sie, dass Sie entweder der Inhaber der abzurufenden Website sind oder im Einverständnis des Inhabers handeln.
<input type="submit" value="Cron-Job erstellen">
</form>
</body>
</html>
