<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="central">
    <div>
        <h1>Anmelden</h1>

        {% if warning_nachricht %}<p><strong> {{warning_nachricht}}</strong></p> {% endif %}

        <form name="forlogin" id="login" method="post" {% if Account == 1 %}action="{% url 'cron:tryLogin' %}" {% else %} action="{% url 'cron:tryRegister' %}" {% endif %}>{% csrf_token %}
            <p>Bitte fügen Sie ihre Benutzername ein (erstellen Sie zuerst einen Benutzer in Django Admin Site (login:admin und passwort:superuser)</p>
            <input type="text " id="login_name" name="login_name" value={{login_name}}>
            <p>Bitte fügen Sie ihre Passwort ein</p>
            <input type="password" id="login_password" name="login_password" value={{login_password}}>
            <input id="login_button" type="submit" value="Einloggen" >
        </form>
    </div>
</body>
</html>