<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="central">
    <h2>Sie haben ein CronJob gemacht, bravo!!!</h2>
    <h4>Titel:</h4>
    <p>{{Titel}}</p>
    <h4>URL:</h4>
    <p>{{UrlAdresse}}</p>
    <h4>Zeit</h4>
    {% if Wahl4 %}
        <p>Die Zeit ist Benutzerdefiniert</p>
    {% endif %}
    {% if Wahl1 %}
            <p>Das Cron Job wird sich jede {{myNumber2}} Minute(n) wiederholen</p>
            {% endif %}
    {% if Wahl2 %}
            <p>Das Cron Job wird jeden tag um {{hours}}:{{minutes}} ausgeführt.</p>
        {% endif %}
    {% if Wahl3 %}
            <p>Das Cron Job wird immer am {{myNumber}} des Monats um {{hours2}}:{{minutes2}} ausgeführt</p>
        {% endif %}
    <h4>Fehlschlag:</h4>
    <p>{{FehlschlagAlert}}</p>
    <h4>Erfolgreich nach Fehlschlag:</h4>
    <p>{{ErfolgNachFehlschlagAlert}}</p>
    <h4>Zu viele Fehlschlaege:</h4>
    <p>{{ZuVielFehlschlaege}}</p>
    <h4>Antworten speichern:</h4>
    <p>{{AntwortenSpeichern}}</p>
</body>
</html>