body{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: white;
  background-color: black;
}
.border {
  border-radius: 4px;
  border-style: solid;
  border-color: white;
  border-width: thin;
  padding: 20px;
  display: flex;
  flex-flow: column;
  margin-bottom: 20px;
}
.link {
	background-color:transparent;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-size:14px;
	padding:4px 4px;
	text-decoration:none;
}
.link:hover {
	background-color:transparent;
}
.link:active {
	position:relative;
	top:1px;
}



  
